<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if searched %}
        <h1>you search for {{ searched }}</h1><br/>

        {% for post in searched_post %}
            <h3>
                {{ post }}<br/>
            </h3>

        {% endfor %}
    {% else %}
        <h1>heyyy men you forget searched!!!! </h1>
    {% endif %}
</body>
</html>